<div id="project_list_holder">
  <ul id="project_list" class="items generic_left_list">
    <li class="clickable menu_clickable indent_1">
      <div class="invisible_space">
      </div>
      <table cellpadding="0" cellspacing="0" class="item_table">
        <tbody>
          <tr>
            <td class="td_color">
              <div class="div_color counter_color icon-project" id="project_color_188000338" style="color: rgb(251, 136, 110);">
              </div>
            </td>
            <td>
              <div class="td_separator" style="width: 2px;">
              </div>
            </td>
            <td class="name">
              <span>Personnel</span>
              <div class="counter_count" id="project_count_188000338">1</div>
            </td>
            <td class="menu"><div class="icon menu cmp_menu_on gear_menu"></div></td>
          </tr>
        </tbody></table>
      </li>
      <li class="clickable menu_clickable indent_1"><div class="invisible_space"></div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_188000339" style="color: rgb(204, 204, 204);"></div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div></td><td class="name"><span>Achats</span><div class="counter_count" id="project_count_188000339"></div></td><td class="menu"><div class="icon menu cmp_menu_on gear_menu">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space">
        </div>
        <table cellpadding="0" cellspacing="0" class="item_table">
          <tbody>
            <tr>
              <td class="td_color">
                <div class="div_color counter_color icon-project" id="project_color_188000340" style="color: rgb(168, 200, 228);">
                </div>
              </td>
              <td>
                <div class="td_separator" style="width: 2px;"></div>
              </td>
              <td class="name">
                <span>Travail</span>
                <div class="counter_count" id="project_count_188000340">
                </div>
              </td>
              <td class="menu">
                <div class="icon menu cmp_menu_on gear_menu"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="clickable menu_clickable indent_1">
        <div class="invisible_space">
        </div><table cellpadding="0" cellspacing="0" class="item_table"><tbody><tr><td class="td_color"><div class="div_color counter_color icon-project" id="project_color_188000341" style="color: rgb(116, 232, 211);"></div>
        </td>
        <td>
          <div class="td_separator" style="width: 2px;"></div></td><td class="name"><span>Courses</span><div class="counter_count" id="project_count_188000341"></div></td><td class="menu"><div class="icon menu cmp_menu_on gear_menu"></div></td></tr></tbody></table></li><li class="clickable menu_clickable indent_1"><div class="invisible_space"></div><table cellpadding="0" cellspacing="0" class="item_table"><tbody><tr><td class="td_color"><div class="div_color counter_color icon-project" id="project_color_188000342" style="color: rgb(226, 168, 228);"></div></td><td><div class="td_separator" style="width: 2px;"></div></td><td class="name"><span>Films à regarder</span><div class="counter_count" id="project_count_188000342"></div></td><td class="menu"><div class="icon menu cmp_menu_on gear_menu"></div></td></tr></tbody></table></li></ul>
          <div id="project_list_man" class="left_list_man_holder"><div class="left_list_man actions"><a href="https://fr.todoist.com/app?lang=fr&amp;v=860" class="action sel_add_project"><span class="icon icon-add"></span>Ajouter un projet</a></div><div class="controller actions his_ctrl" id="projects_archived_holder"><ul id="projects_archived_ul" class="items generic_left_list"></ul><a href="https://fr.todoist.com/app?lang=fr&amp;v=860#" id="archived_link">Projets archivés</a></div></div>
        </div>
