<div id="left_menu_tabs" class="show_projects">
  <table>
    <tbody>
      <tr>
        <td class="control projects sel_projects" width="33%">Projets</td>
        <td class="control labels" width="33%">Étiquettes</td>
        <td class="control filters" width="33%">Filtres</td>
      </tr>
    </tbody>
  </table>
</div>
