<div id="top_bar">
  <div id="top_bar_inner" style="margin-left: 230px;"><a href="https://fr.todoist.com/app?lang=fr&amp;v=860#" class="left_menu_toggle"><img src="./Todoist2_files/calendar.gif" width="20" height="15" class="cmp_light_menu_toggle"></a>
    <div id="logo"><a href="https://fr.todoist.com/app?lang=fr&amp;v=860#"><img src="./Todoist2_files/calendar.gif" width="30" height="30" class="cmp_light_logo" data-pin-nopin="true"></a></div>
    <div id="top_icons">
      <span id="sync_state_icon"></span>
      <span id="quick_add_task_holder">
        <img src="./Todoist2_files/calendar.gif" width="26" height="16" class=" icon fixed_pos cmp_light_add_task" data-pin-nopin="true"></span>
        <span id="notifications_counter">
          <span class="fixed_pos">
            <img src="./Todoist2_files/calendar.gif" width="22" height="17" class="cmp_light_notifications" data-pin-nopin="true">
          </span>
        </span>
        <span id="completed_items"><a href="https://fr.todoist.com/app?lang=fr&amp;v=860#completed" class="fixed_pos">
        </span></a></span><span id="gear_holder" class="menu_icon fixed_pos"><img src="./Todoist2_files/calendar.gif" width="26" height="16" class="[object HTMLSpanElement] icon fixed_pos cmp_light_gear"></span></div>
        <div id="quick_find">
          <div>
            
            <a href="https://fr.todoist.com/Help/Filtering" class="help_icon" target="_blank" style="opacity: 1; display: none;">
              <img src="./Todoist2_files/calendar.gif" class="cmp_light_query_help calendar-icon"></a>
            </div>
          </div>

        </div>
      </div>
