
<body class=" theme_todoist" cz-shortcut-listen="true">
  <%=render "shared/todo_top_bar"%>

  <div class="">
    <ul>
      <li>Coucou</li>
      <li> hello</li>
    </ul>
  </div>

  <%= react_component("MainContentApp", props: @hello_world_props)%>
  </div>

</body></html>
